<h1>Bands Playing Herd Fest</h1>
<ul>
  <% bands.each do |band| %>
    <li>
      <p><strong><%= band.name %></strong> will be playing at:</p>
      <ul>
        <% band.venues.each do |venue| %>
          <li>
            <%= venue.name %> @
            <ul>
              <% set_time_for(band, venue).each do |set_time| %>
                <li><%= default_date(set_time.date) %> - <%= default_time(set_time.start_time) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
