<h1>Bands Playing Herd Fest</h1>
<ul>
  <% bands.each do |band| %>
    <li>
      <p><strong><%= band.name %></strong> <% if (band.set_times.empty?) %>is not playing anywhere<% else %>will be playing at:<% end %></p>
      <ul>
        <% band.set_times.each do |set_time| %>
          <li>
            <p><%= set_time.venue.name %> on <%= default_date(set_time.date) %> - <%= default_time(set_time.start_time) %></p>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
